.header-main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.header-main-left {
    width: 35%;
}

.header-main-right {
    margin-top: 20px;
    width: 65%;
}

.header-main-right h6 {
    margin-top: 15px;
    font-size: 17px;
}

.header-main-right img {
    width: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .header-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .header-main-left {
        width: 100%;
    }
    .header-main-right {
        margin-top: 20px;
        width: 100%;
    }
}